@import 'node_modules/bootstrap/scss/bootstrap'; // existing bootstrap import

// * {border:1px solid red}

#root {
  height: 100%;
}

body {
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: #97cdb3;
  padding: 100px 50px 50px 50px; // T R B L
  height: 100%;
}

.menu {
  grid-column: span 3;
  grid-row: span 12;
  background-color: #fe6f6d;
}

.rows {
  display: grid;
  grid-column: span 9;
  grid-row: span 12;
  grid-template-rows: repeat(12, 1fr);
  background-color: rgb(114, 162, 224);
}

.content {
  background-color: #fecb64;
  grid-row: span 2;
}

.content2 {
  background-color: #bcc0ff;
  margin: 50px;
  padding: 50px;
  grid-row: span 10;
}